* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.375), rgba(0, 0, 0, 0.375)),url(https://rare-gallery.com/mocahbig/1329222-Takt-Asahina-Destiny-Takt-Op.-DestinyTakt-Op.-Destiny.jpg);
    background-size: cover;
    background-position: center;
}

.naver{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.freedom{
    width: 100px;
    cursor: pointer;
}

.naver ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.naver ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.naver ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.naver ul li:hover::after{
    width: 100%;
}

.naver button{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
    margin-left: 0 20px;
    transition: 0.5s;
}

.naver button:hover{
    background: #fff;
    color:#162938;
}

.wrapper{
    position: relative;
    width: 440px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .login_formbox{
    width: 100%;
    padding: 40px;
}

.login_formbox h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.Input-box{
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}