<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mappa To Watch - Started</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/get_start_style.css">
</head>
<body>
    <!-- HEAD หรือ Navigation bar ด้านบนทำอย่างงี้เพื่อประหยัดบรรทัดและความยุ่ง-->
    {% extends "navbar.html" %}
    {% block home %}
    <div class="infogather">
        <div class="sel-btn">
            <span>Select Genre</span>
            <i class="bi bi-arrow-down-short"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg></i>
        </div>
        <div class="infooption">
            <div class="search">
                <i class="bi bi-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></i>
                <input type="text" placeholder="search">
            </div>
            <ul class="options"></ul>
        </div>
    </div>

    <div class="container">
        <div class="result">
            <img src="https://cdn.myanimelist.net/images/anime/1948/120625.jpg" alt="Profile Picture" class="result">
            <div class="name"><a>Attack on titan the final</a></div>
        </div>

        <div class="result">
            <img src="https://cdn.myanimelist.net/images/anime/1171/109222.jpg" alt="Profile Picture" class="result">
            <div class="name"><p>Jujutsu Kaisen</p></div>
        </div>

        <div class="result">
            <img src="https://cdn.myanimelist.net/images/anime/3/86578.jpg" alt="Profile Picture" class="result">
            <div class="name">Kakegurui</div>
        </div>

        <div class="result">
            <img src="https://cdn.myanimelist.net/images/anime/1171/109222.jpg" alt="Profile Picture" class="result">
            <div class="name">Jujutsu Kaisen</div>
        </div>

        <div class="result">
            <img src="https://cdn.myanimelist.net/images/anime/1171/109222.jpg" alt="Profile Picture" class="result">
            <div class="name">Jujutsu Kaisen</div>
        </div>

        <div class="result">
            <img src="https://cdn.myanimelist.net/images/anime/1171/109222.jpg" alt="Profile Picture" class="result">
            <div class="name">Jujutsu Kaisen</div>
        </div>
    </div>
    <!-- Login Box-->
    <div class="wrapper">
        <!-- Close icon in Login -->
        <span class="close-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </span>
        <!-- Login Box -->
        <div class="login_formbox">
            <h2>Login</h2>
            <form action="#">
                <div class="Input-box">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                        </svg>
                    </span>
        <!-- รับ Input Email -->
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="Input-box">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                        </svg>
                    </span>
        <!-- Input Password -->
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember me</label>
                    <a href="#">Forgot Password?</a>
                </div>
            <!-- Submit Button as Login Button -->
                <button type="submit" class="btn">Login</button>
                <div class="reigister">
                    <p>Don't have an account?<a class="regis-link" href="#">Register</a></p>
                </div>
        </div>
        <!-- Register Box -->
        <div class="regis_formbox">
            <h2>Registration</h2>
            <form action="#">
        <!-- Regis Username Box-->
                <div class="Input-box">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        </svg>
                    </span>
                    <input type="text" required>
                    <label>Username</label>
                </div>
        <!-- Regis Email Box-->
                <div class="Input-box">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                        </svg>
                    </span>
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <div class="Input-box">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                        </svg>
                    </span>
        <!-- Regis Password -->
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">I agree to the terms & conditions</label>
                </div>
        <!-- Regis button -->
                <button type="submit" class="btn">Register</button>
                <div class="reigister">
                    <p>Already have an account?<a class="login-link" href="#">Login</a></p>
                </div>
        </div>
    </div>

    <script src="../static/script.js"></script>
    <script src="../static/inputs.js"></script>

    {% endblock %}
</body>
</html>